@import url(variables.css);

.header {
  text-align: center;
}
.presentation {
  text-align: left;
}
body {
  color: var(--color);
  background: var(--background);
}
.title {
  text-align: var(--centered);
}
.title:hover {
  text-decoration: var(--underline);
  transform: scale(1.2);
}
/* Class for hide and see */
.see {
  display: block;
}
.seen {
  display: none;
}


